* {
  font-family: "Orbitron", sans-serif;
  background-color: #ffe9ec;
}

header {
  text-align: center;
  background-color: #563d7c;
  border: medium solid;
  color: whitesmoke;
  font-weight: bolder;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
